<script>
  window.addEventListener("load", function() {
    window.__sfWindowLoaded = true
  })
</script>

<script>
{%- if template.name == 'index' -%}
  function __lightOrDark(color) {
    var lightness = Number((color.match(/^hsl.*,(.*)%\)/) || ['', '100'])[1].trim());
    return lightness > 50 ? 'light' : 'dark';
  }
  __detectBgSections = function () {
    try {
      var sections = document.querySelectorAll('[data-bg]')
      for (var i = 0; i < sections.length; i++) {
        var section = sections[i]
        var lightness = __lightOrDark(section.dataset.bg)
        section.classList.add('bg-' + lightness)
      }
    } catch (error) {
      console.error("Failed to __detectBgSections.", error)
    }
  }
  __detectBgSections()
{%- endif -%}

{%- if request.design_mode -%}
window.addEventListener('shopify:section:load', function (e) {
  {%- if template.name == 'index' -%}
    __detectBgSections()
  {%- endif -%}
})
{%- endif -%}
</script>
<script>
  if (!__isPSA) {
    // _loadJS, loadScript
    function __ls(src) {
      const s = document.createElement('script');
      s.src = src;
      s.defer = true;
      document.body.appendChild(s);
    }
    
    __ls("{{ 'app.js' | asset_url }}")
    __ls("{{ 'lazysizes.min.js' | asset_url }}")
    __ls("{{ 'foxkit-app.min.js' | asset_url }}")
  }
</script>