<div class="section_container" style="background: {{ section.settings.footer_bg }}">
  <div class="main-content container-fluid">
    <div class="footer-main d-flex">
      <div class="footer-block block-social">
        {% render 'social-media-links' %}
      </div>
      <div class="footer-block block-logo">
        <div class="image_wrapper">
          {% render 'responsive-image', image: section.settings.footer_logo, image_class: 'w-full h-full' %}
        </div>
      </div>
      <div class="footer-block block-newsletter">
      </div>
    </div>
    <div class="footer-menu">
      {% assign menu = linklists[section.settings.menu] %}
      <div class="menu-wrapper d-flex ff-heading">
        {% for link in menu.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "site-footer",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "footer_bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}