{% render 'section-styles', section: section %}

<div class="container-fluid">
  <div class="main_wrapper">
    {% if section.settings.title != blank %}
      <h2 class="rte section__heading text-center text-blue ff-heading">{{ section.settings.title }}</h2>
    {% endif %}
    
    {% if section.blocks.size > 0 %}
      <div class="grid_wrapper d-flex grid-{{ section.blocks.size }}">
    	{% for block in section.blocks %}
        
          <div class="grid-item" id="grid-item-{{ block.id }}">
            
            <div class="image_wrapper">
              {% render 'responsive-image', image: block.settings.image, aspect_ratio: block.settings.image.aspect_ratio, image_class: 'se-out w-full h-full', image_attributes: '' %}
            </div>
            
            <div class="content_wrapper text-white text-center">
              {% if block.settings.pretitle != blank %}
                <div class="item_pretitle">{{ block.settings.pretitle }}</div>
              {% endif %}
              
              {% if block.settings.title != blank %}
                <div class="item_title ff-heading">{{ block.settings.title }}</div>
              {% endif %}
              
              {% if block.settings.text != blank %}
                <div class="item_text">{{ block.settings.text }}</div>
              {% endif %}
            </div>
            {% if block.settings.enable_gradient %}
              <style>
                {% assign start_opacity = block.settings.grad_start_color_opacity | divided_by: 100.0 %}
                {% assign start_color = block.settings.grad_start_color | color_modify: 'alpha', start_opacity %}

                {% assign end_opacity = block.settings.grad_end_color_opacity | divided_by: 100.0 %}
                {% assign end_color = block.settings.grad_end_color | color_modify: 'alpha', end_opacity %}

                #grid-item-{{ block.id }} .image_wrapper::after {
                  background: linear-gradient(to bottom, {{ start_color }}, {{ end_color }});
                }
              </style>
            {% endif %}
          </div>
        
        {% endfor %}
      </div>
    {% endif %}
    
  </div>  
</div>

{% schema %}
  {
    "name": "Image Grid",
	"tag": "section",
	"class": "custom-image-grid",
    "settings": [
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
	  {
		"type": "header",
		"content": "Content"
	  },
	  {
		"type": "text",
	 	"id": "title",
		"label": "Title"
	  }
	],
	"blocks": [
	  {
		"type": "block",
		"name": "Block",
		"settings": [
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
		  {
			"type": "text",
			"id": "pretitle",
			"label": "Pretitle"
		  },
		  {
 			"type": "text",
			"id": "title",
			"label": "Title"
		  },
		  {
			"type": "richtext",
			"id": "text",
			"label": "Text"
		  },
		  {
			"type": "header",
			"content": "Gradient"
		  },
		  {
			"type": "checkbox",
			"id": "enable_gradient",
			"label": "Enable gradient",
			"default": true
		  },
		  {
			"type": "paragraph",
			"content": "Start"
		  },
		  {
			"type": "color",
			"id": "grad_start_color",
			"label": "Color"
		  },
		  {
			"type": "range",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 20,
			"label": "Opacity",
			"id": "grad_start_color_opacity"
		  },
		  {
			"type": "paragraph",
			"content": "End"
		  },
		  {
			"type": "color",
			"id": "grad_end_color",
			"label": "Color"
		  },
		  {
			"type": "range",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"default": 20,
			"label": "Opacity",
			"id": "grad_end_color_opacity"
		  }
		]
	  }
	],
	"presets": [
	  {
		"name": "Image Grid"
	  }
	]
  }
{% endschema %}