<div class="section_container" style="background: {{ section.settings.bg_color }}">
  <div class="main_wrapper d-flex {% if section.settings.img_pos == 'right' %}reverse{% endif %}">
    <div class="image_wrapper">
      {% render 'responsive-image', image: section.settings.image, aspect_ratio: section.settings.image.aspect_ratio, image_class: 'se-out w-full h-full', image_attributes: '' %}
    </div>
    <div class="text_wrapper">
      {% if section.settings.title != blank %}
        <h2 class="rte section__heading ff-heading text-active">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text text-blue">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
        <div class="btn_wrapper">
          <a href="{{ section.settings.btn_link }}" class="btn btn-outline btn-rounded">{{ section.settings.btn_label }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image with text (full)",
  "class": "image-with-text-full",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "left",
      "id": "img_pos",
      "label": "Image alignment"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image with text (full)"
    }
  ]
}
{% endschema %}