{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.sectionbg }};
  }
</style>

<div class="container-fluid">
  <div class="main_wrapper d-flex">
    <div class="content text-center">
      {% if section.settings.title != blank %}
        <h2 class="rte section__heading ff-heading hide--mobile">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.desc != blank %}
        <div class="description">{{ section.settings.desc }}</div>
      {% endif %}
      {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
        <div class="btn_wrapper">
          <a class="btn-blue btn-outline btn-rounded ff-heading" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
        </div>
      {% endif %}
    </div>
    <div class="author">
      {% if section.settings.title != blank %}
        <h2 class="rte section__heading ff-heading hide--desktop text-center">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.image != blank %}
        <div class="image_wrapper">
          {% render 'responsive-image', image: section.settings.image, aspect_ratio: section.settings.image.aspect_ratio, image_class: 'se-out w-full h-full', image_attributes: '' %}
        </div>
      {% endif %}
      {% if section.settings.author != blank %}
        <div class="author text-center">{{ section.settings.author }}</div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Our story",
	"tag": "section",
	"class": "custom-our-story",
    "settings": [
	  {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
	  {
		"type": "header",
		"content": "Background"
	  },
	  {
		"type": "color",
		"id": "sectionbg",
		"label": "Background"
	  },
	  {
		"type": "header",
		"content": "Author"
	  },
	  {
		"type": "image_picker",
		"id": "image",
		"label": "Image"
	  },
	  {
		"type": "text",
		"id": "author",
		"label": "Author"
	  },
	  {
		"type": "header",
		"content": "Content"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "richtext",
		"id": "desc",
		"label": "Description"
	  },
	  {
		"type": "text",
		"id": "btn_label",
		"label": "Button label"
	  },
	  {
		"type": "url",
		"id": "btn_link",
		"label": "Button link"
	  }
	],
	"presets": [
	  {
		"name": "Our story"
	  }
	]
  }
{% endschema %}
