{% assign bg_color = section.settings.background_color %}
{% assign has_bg = false %}

{% unless bg_color == "rgba(0,0,0,0)" or bg_color == blank %}
    {% assign has_bg = true %}
{% endunless %}

{% capture container %}
    {{ section.settings.container }}
    {% if has_bg == false %} section-my1 {% else %} section-py {% endif %}
{% endcapture %}

{% assign button_type = section.settings.button_type %}
{%- assign product_limit = section.settings.limit -%}
{% assign can_load = false %}

{% if button_type == 'load' %}
    {% assign can_load = true %}
{% endif %}

{% assign enable_slider = false %}
{% if section.settings.enable_slider %}
    {% assign enable_slider = true %}
    {% assign can_load = false %}
{% endif %}

{% assign items_per_row = section.settings.items_per_row %}
{% assign card_style = section.settings.pcard_layout %}
{% assign image_ratio = section.settings.pcard_image_ratio %}
{% assign show_vendor = section.settings.show_vendor %}
{% assign tab_header = section.settings.tab_header %}
{%- assign button_type = section.settings.button_type -%}

{% render 'section-styles', section: section %}

<section
    id="sf__product-tab-{{ section.id }}"
    class="sf__product-tab tab__header-{{ tab_header }} {{ section.settings.custom_class }} hide--mobile"
    data-section-type="product-tabs"
    data-section-id="{{ section.id }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    data-enable-slider="{{ enable_slider }}"
    data-button-type="{{ button_type }}"
    {% if enable_slider %}
        data-show-pagination="{{ section.settings.show_pagination }}"
        data-show-navigation="{{ section.settings.show_navigation }}"
        data-items="{{ items_per_row }}"
    {% endif %}
    style="background-color: {{ bg_color }}; --column-gap: {{ section.settings.item_gap }}px; --column-gap-mobile: {{ section.settings.item_gap_mobile }}px; --row-gap: {{ section.settings.item_gap | plus: 10 }}px; --items: {{ items_per_row }}"
>
    <div class="{{ container }}">
        {% if tab_header == 'horizontal' %}
            {% render 'index-section-header', section_settings: section.settings %}
        {% endif %}

        {% if section.blocks.size > 0 %}
        <div class="sf-tabs-container product-tabs__wrapper{% if section.settings.hide_product_info %} hide-info{% endif %}">
            <div class="product-tabs__header product-tabs__header--{{ tab_header }} flex justify-center flex-wrap {% if section.settings.heading == blank %} md:text-4xl pb-2{% else %} text-[1.125rem]{% endif %} leading-relaxed" data-tab-header>
                {% if tab_header == 'horizontal' %}
                    {% for block in section.blocks %}
                        {% assign tab_name = block.settings.title %}
                        {%- assign collection = collections[block.settings.collection] -%}

                        {% if block.settings.title == blank %}
                            {% assign tab_name = 'Tab '  | append: forloop.index %}
                            {% if collection != blank %}
                                {% assign tab_name = collection.title %}
                            {% endif %}
                        {% endif %}

                        <a class="hidden1 sm:block sf-tab-header mx-6 ff-heading text-center" href="#product-tabs-{{ block.id }}" data-index="{{ forloop.index0 }}">{{ tab_name }}</a>
                    {% endfor %}
                {% endif %}
                {% if section.settings.subheading != blank %}
                    <p class="section__subheading">{{ section.settings.subheading | escape }}</p>
                {% endif %}
                <div class="hide--mobile inline-flex items-center justify-center flex-wrap md:flex-nowrap{% if tab_header == 'horizontal' %} w-full{% endif %}">
                    {% if tab_header == 'select' and section.settings.heading != blank %}
                        <h2 class="whitespace-nowrap mr-5 text-color-subtext section__heading">{{ section.settings.heading | escape }}</h2>
                    {% endif %}
                    <div class="sf__custom-select select__custom-width section__heading sf__select-plain {% if tab_header == 'horizontal' %} sm:hidden w-full-mobile text-xl{% else %} h2 w-auto{% endif %}">
                        <select class="form-control" data-tab-select>
                            {% for block in section.blocks %}
                                {% assign tab_name = block.settings.title %}
                                {%- assign collection = collections[block.settings.collection] -%}
                                {% if block.settings.title == blank %}
                                    {% assign tab_name = 'Tab '  | append: forloop.index %}
                                    {% if collection != blank %}
                                        {% assign tab_name = collection.title %}
                                    {% endif %}
                                {% endif %}
                                <option value="{{ forloop.index0 }}">{{ tab_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if section.settings.description != blank %}
                    <div class="section__description">{{ section.settings.description }}</div>
                {% endif %}
            </div>
            <div class="product-tabs__content{% if enable_slider %} slider-content{% endif %}">
                {% for block in section.blocks %}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {% if collection.products.size <= items_per_row %}
                        {% comment %}{% assign enable_slider = false %}{% endcomment %}
                    {% endif %}
                    {%- paginate collection.products by product_limit -%}
                    {% if paginate.pages == 1 %}
                        {% assign can_load = false %}
                    {% endif %}
                    <div id="product-tabs-{{ block.id }}" class="sf-tab-content opacity-0" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}"
                         data-url="{{ collection.url }}"
                         data-total-pages="{{ paginate.pages }}"
                         data-page="{{ paginate.current_page }}"
                         data-total-items="{{ paginate.items }}"
                    >
                        <div class="{% if button_type == 'link' %}sf__ms{% endif %}{% if enable_slider %} sf__ms--slider{% endif %} {% if collection.products.size <= 8 %}hide--arrow{% endif %}">
                            <div class="sf-grid{% if button_type == 'link' %} sf__ms-wrapper{% endif %} grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-{{ section.settings.items_per_row }}{% if enable_slider %} swiper-container{% endif %}" data-products-container>
                                {% if enable_slider == true %}<!-- Start .swiper-wrapper --><div class="swiper-wrapper">{% endif %}
                                {% for product in collection.products limit: product_limit %}
                                    {% if enable_slider %}
                                        {% if section.settings.enable_rows %}
                                            {% capture idx %}{% cycle 1, 2, 3, 4, 5, 6, 7, 8 %}{% endcapture %}
                                            {% if idx == '1' %}
                                                <span class="swiper-slide sf-column">
                                            {% endif %}
                                                {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor %}
                                            {% if idx == '8' %}
                                                </span>
                                            {% endif %}
                                            {% if forloop.last and idx != '8' %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <div class="swiper-slide sf-column">
                                                {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, column_wrapper: true %}
                                    {% endif %}
                                {% else %}
                                    {% for i in (1..product_limit) %}
                                        <div class="swiper-slide sf-column text-{{ settings.pcard_alignment }}">
                                            <div style="--aspect-ratio: 1/1;" class="bg-gray-100">
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'object-cover w-full h-full transition-all duration-500 group-hover:scale-105' }}
                                            </div>
                                            <div class="block mb-2 sf__pcard-name mt-4 font-medium hover:text-color-secondary{% if settings.uppercase_prd_name %} uppercase{% endif %}">{{ 'homepage.onboarding.product_title' | t }}</div>
                                            <div class="mb-2.5 sf__pcard-price">
                                                <p class="prod__price">$19.99</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% if enable_slider == true %}</div> <!-- End .swiper-wrapper -->{% endif %}
                                {% if enable_slider and section.settings.show_navigation %}
                                    <div class="swiper-button swiper-button-prev">{% render 'icon', name: 'swiper-arrow-left' %}</div>
                                    <div class="swiper-button swiper-button-next">{% render 'icon', name: 'swiper-arrow-right' %}</div>
                                {% endif %}
                            </div>
                            {% if enable_slider %}
                                {% if section.settings.show_navigation or section.settings.show_pagination  %}
                                  {% render 'slider-controls', custom_class: 'hidden', absolute: true, container: section.settings.container, show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination %}
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if section.settings.button_label != blank and section.settings.show_button == true %}
                            {% capture btn_class %}sf__btn {{ section.settings.button_style }} {{ section.settings.button_size }}{% endcapture %}
                          {% if can_load %}
                            <div class="mt-8 md:mt-10 xl:mt-15 flex justify-center">
                                <button class="{{ btn_class }}" data-load-more>
                                    <span>{{ section.settings.button_label }}</span>
                                </button>
                            </div>
                          {% endif %}
                          {% if button_type == 'link' %}
                            <div class="mt-8 md:mt-10 xl:mt-15 flex justify-center">
                                <a class="{{ btn_class }}" href="{{ collection.url }}" data-load-more>
                                  <span>{{ section.settings.button_label }}</span>
                                </a>
                            </div>
                          {% endif %}
                        {% endif %}
                    </div>
                    {%- endpaginate -%}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</section>



<section
    id="sf__product-tab-{{ section.id }}"
    class="sf__product-tab tab__header-{{ tab_header }} {{ section.settings.custom_class }} hide--desktop"
    data-section-type="product-tabs"
    data-section-id="{{ section.id }}"
    {% if has_bg %}
        data-bg="{{ bg_color | color_to_hsl }}"
    {% endif %}
    data-enable-slider="{{ enable_slider }}"
    data-button-type="{{ button_type }}"
    {% if enable_slider %}
        data-show-pagination="{{ section.settings.show_pagination }}"
        data-show-navigation="{{ section.settings.show_navigation }}"
        data-items="{{ items_per_row }}"
    {% endif %}
    style="background-color: {{ bg_color }}; --column-gap: {{ section.settings.item_gap }}px; --column-gap-mobile: {{ section.settings.item_gap_mobile }}px; --row-gap: {{ section.settings.item_gap | plus: 10 }}px; --items: {{ items_per_row }}"
>
    <div class="{{ container }}">
        {% if tab_header == 'horizontal' %}
            {% render 'index-section-header', section_settings: section.settings %}
        {% endif %}

        {% if section.blocks.size > 0 %}
        <div class="sf-tabs-container product-tabs__wrapper{% if section.settings.hide_product_info %} hide-info{% endif %}">
            <div class="product-tabs__header product-tabs__header--{{ tab_header }} flex justify-center flex-wrap {% if section.settings.heading == blank %} md:text-4xl pb-2{% else %} text-[1.125rem]{% endif %} leading-relaxed" data-tab-header>
                {% if tab_header == 'horizontal' %}
                    {% for block in section.blocks %}
                        {% assign tab_name = block.settings.title %}
                        {%- assign collection = collections[block.settings.collection] -%}

                        {% if block.settings.title == blank %}
                            {% assign tab_name = 'Tab '  | append: forloop.index %}
                            {% if collection != blank %}
                                {% assign tab_name = collection.title %}
                            {% endif %}
                        {% endif %}

                        <a class="hidden1 sm:block sf-tab-header mx-6 ff-heading text-center" href="#product-tabs-{{ block.id }}" data-index="{{ forloop.index0 }}">{{ tab_name }}</a>
                    {% endfor %}
                {% endif %}
                {% if section.settings.subheading != blank %}
                    <p class="section__subheading">{{ section.settings.subheading | escape }}</p>
                {% endif %}
                <div class="hide--mobile inline-flex items-center justify-center flex-wrap md:flex-nowrap{% if tab_header == 'horizontal' %} w-full{% endif %}">
                    {% if tab_header == 'select' and section.settings.heading != blank %}
                        <h2 class="whitespace-nowrap mr-5 text-color-subtext section__heading">{{ section.settings.heading | escape }}</h2>
                    {% endif %}
                    <div class="sf__custom-select select__custom-width section__heading sf__select-plain {% if tab_header == 'horizontal' %} sm:hidden w-full-mobile text-xl{% else %} h2 w-auto{% endif %}">
                        <select class="form-control" data-tab-select>
                            {% for block in section.blocks %}
                                {% assign tab_name = block.settings.title %}
                                {%- assign collection = collections[block.settings.collection] -%}
                                {% if block.settings.title == blank %}
                                    {% assign tab_name = 'Tab '  | append: forloop.index %}
                                    {% if collection != blank %}
                                        {% assign tab_name = collection.title %}
                                    {% endif %}
                                {% endif %}
                                <option value="{{ forloop.index0 }}">{{ tab_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if section.settings.description != blank %}
                    <div class="section__description">{{ section.settings.description }}</div>
                {% endif %}
            </div>
            <div class="product-tabs__content{% if enable_slider %} slider-content{% endif %}">
                {% for block in section.blocks %}
                    {%- assign collection = collections[block.settings.collection] -%}
                    {% if collection.products.size <= items_per_row %}
                        {% comment %}{% assign enable_slider = false %}{% endcomment %}
                    {% endif %}
                    {%- paginate collection.products by product_limit -%}
                    {% if paginate.pages == 1 %}
                        {% assign can_load = false %}
                    {% endif %}
                    <div id="product-tabs-{{ block.id }}" class="sf-tab-content opacity-0" {{ block.shopify_attributes }} data-index="{{ forloop.index0 }}"
                         data-url="{{ collection.url }}"
                         data-total-pages="{{ paginate.pages }}"
                         data-page="{{ paginate.current_page }}"
                         data-total-items="{{ paginate.items }}"
                    >
                        <div class="{% if button_type == 'link' %}sf__ms{% endif %}{% if enable_slider %} sf__ms--slider{% endif %} {% if collection.products.size <= 2 %}hide--arrow{% endif %}">
                            <div class="sf-grid{% if button_type == 'link' %} sf__ms-wrapper{% endif %} grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-{{ section.settings.items_per_row }}{% if enable_slider %} swiper-container{% endif %}" data-products-container>
                                {% if enable_slider == true %}<!-- Start .swiper-wrapper --><div class="swiper-wrapper">{% endif %}
                                {% for product in collection.products limit: product_limit %}
                                    {% if enable_slider %}
                                        {% if section.settings.enable_rows %}
                                            <div class="swiper-slide sf-column">
                                                {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor %}
                                            </div>
                                        {% else %}
                                            <div class="swiper-slide sf-column">
                                                {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor %}
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        {% render 'product-card', product: product, card_style: card_style, image_ratio: image_ratio, show_vendor: show_vendor, column_wrapper: true %}
                                    {% endif %}
                                {% else %}
                                    {% for i in (1..product_limit) %}
                                        <div class="swiper-slide sf-column text-{{ settings.pcard_alignment }}">
                                            <div style="--aspect-ratio: 1/1;" class="bg-gray-100">
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'object-cover w-full h-full transition-all duration-500 group-hover:scale-105' }}
                                            </div>
                                            <div class="block mb-2 sf__pcard-name mt-4 font-medium hover:text-color-secondary{% if settings.uppercase_prd_name %} uppercase{% endif %}">{{ 'homepage.onboarding.product_title' | t }}</div>
                                            <div class="mb-2.5 sf__pcard-price">
                                                <p class="prod__price">$19.99</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% if enable_slider == true %}</div> <!-- End .swiper-wrapper -->{% endif %}
                                {% if enable_slider and section.settings.show_navigation %}
                                    <div class="swiper-button swiper-button-prev">{% render 'icon', name: 'swiper-arrow-left' %}</div>
                                    <div class="swiper-button swiper-button-next">{% render 'icon', name: 'swiper-arrow-right' %}</div>
                                {% endif %}
                            </div>
                            {% if enable_slider %}
                                {% if section.settings.show_navigation or section.settings.show_pagination  %}
                                  {% render 'slider-controls', custom_class: 'hidden', absolute: true, container: section.settings.container, show_nav: section.settings.show_navigation, show_pagination: section.settings.show_pagination %}
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if section.settings.button_label != blank and section.settings.show_button == true %}
                            {% capture btn_class %}sf__btn {{ section.settings.button_style }} {{ section.settings.button_size }}{% endcapture %}
                          {% if can_load %}
                            <div class="mt-8 md:mt-10 xl:mt-15 flex justify-center">
                                <button class="{{ btn_class }}" data-load-more>
                                    <span>{{ section.settings.button_label }}</span>
                                </button>
                            </div>
                          {% endif %}
                          {% if button_type == 'link' %}
                            <div class="mt-8 md:mt-10 xl:mt-15 flex justify-center">
                                <a class="{{ btn_class }}" href="{{ collection.url }}" data-load-more>
                                  <span>{{ section.settings.button_label }}</span>
                                </a>
                            </div>
                          {% endif %}
                        {% endif %}
                    </div>
                    {%- endpaginate -%}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</section>


{% schema %}
{
    "name":"Product tabs",
    "class": "product-tabs",
    "settings":[
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "ptop",
          "label": "Top spacing",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom",
          "label": "Bottom spacing",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "ptop_mob",
          "label": "Top spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom_mob",
          "label": "Bottom spacing",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
            "type": "header",
            "content": "Section header"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Product tabs"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "select",
            "id": "header_alignment",
            "label": "Text alignment",
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container type",
            "default": "container-fluid",
            "options": [
                {
                    "value": "container-fluid",
                    "label": "Default"
                },
                {
                    "value": "w-full",
                    "label": "Full width"
                },
                {
                    "value": "container",
                    "label": "Use container box"
                }
            ]
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "rgba(0,0,0,0)"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "tab_header",
            "label": "Tab header type",
            "default": "horizontal",
            "options": [
                {
                    "value": "horizontal",
                    "label": "Horizontal"
                },
                {
                    "value": "select",
                    "label": "Title with select"
                }
            ]
        },
        {
            "type":"range",
            "id":"limit",
            "label":"Products to show",
            "min":2,
            "max":30,
            "step":1,
            "default":4
        },
        {
            "type":"checkbox",
            "id":"show_button",
            "label": "Show \"View all\" button",
            "default": false
        },
        {
            "type": "select",
            "id": "button_type",
            "label": "Button type",
            "options": [
                {
                    "value": "link",
                    "label": "Link to collection page"
                },
                {
                    "value": "load",
                    "label": "Load more products"
                }
            ],
            "default": "link"
        },
        {
            "type":"text",
            "id":"button_label",
            "label": "Button label",
            "default": "View all"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "options": [
            {
                "value": "sf__btn-primary",
                "label": "Primary button"
            },
            {
                "value": "sf__btn-secondary",
                "label": "Secondary button"
            },
            {
                "value": "sf__btn-white",
                "label": "White button"
            },
            {
                "value": "sf__btn-link",
                "label": "Underline button"
            }
            ],
            "default": "sf__btn-primary"
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "Button size",
            "options": [
            {
                "value": "sf__btn-small",
                "label": "Button small"
            },
            {
                "value": "",
                "label": "Button medium"
            },
            {
                "value": "sf__btn-large",
                "label": "Button large"
            }
            ],
            "default": ""
        },
        {
            "type": "header",
            "content": "Product card settings"
        },
        {
            "type": "select",
            "id": "pcard_layout",
            "label": "Design layout",
            "default": "",
            "options": [
                {
                    "value": "",
                    "label": "Use global settings"
                },
                {
                    "value": "1",
                    "label": "Style 1"
                },
                {
                    "value": "2",
                    "label": "Style 2"
                },
                {
                    "value": "3",
                    "label": "Style 3"
                },
                {
                    "value": "4",
                    "label": "Style 4"
                },
                {
                    "value": "5",
                    "label": "Style 5"
                }
            ]
        },
        {
            "type": "select",
            "id": "pcard_image_ratio",
            "label": "Image aspect ratio",
            "default": "",
            "options": [
                {
                    "value": "",
                    "label": "Use global settings"
                },
                {
                    "value": "original",
                    "label": "Original aspect ratio"
                },
                {
                    "value": "1\/1",
                    "label": "1:1"
                },
                {
                    "value": "3\/4",
                    "label": "3:4"
                },
                {
                    "value": "4\/3",
                    "label": "4:3"
                },
                {
                    "value": "16\/9",
                    "label": "16:9"
                }
            ]
        },
        {
            "type":"checkbox",
            "id":"show_vendor",
            "label":{
                "de":"Produkt-Lieferanten anzeigen",
                "en":"Show product vendors",
                "es":"Mostrar proveedores del producto",
                "fr":"Afficher les vendeurs",
                "it":"Mostra fornitori prodotto",
                "ja":"商品の販売元を表示する",
                "nl":"Productleveranciers weergeven",
                "pt-BR":"Exibir fornecedores do produto",
                "zh-CN":"显示产品厂商",
                "zh-TW":"顯示產品廠商"
            },
            "default":false
        },
        {
            "type": "header",
            "content": "Grid settings"
        },
        {
            "type":"range",
            "id":"items_per_row",
            "label":{
                "de":"Produkte per Reihe",
                "en":"Products per row",
                "es":"Productos por fila",
                "fr":"Produits par rangée",
                "it":"Prodotti per riga",
                "ja":"行あたりの商品数",
                "nl":"Producten per rij",
                "pt-BR":"Produtos por linha",
                "zh-CN":"每行产品数",
                "zh-TW":"每列產品數"
            },
            "min":2,
            "max":6,
            "step":1,
            "default":4
        },
        {
            "type": "range",
            "id": "item_gap",
            "label": "Column gap",
            "min": 0,
            "max": 50,
            "step": 2,
            "default": 30,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "item_gap_mobile",
            "label": "Column gap on mobile",
            "min": 0,
            "max": 30,
            "step": 2,
            "default": 10,
            "unit": "px"
        },
        {
            "type": "checkbox",
            "id": "hide_product_info",
            "label": "Hide product info"
        },
        {
            "type": "header",
            "content": "Slider settings"
        },
        {
            "type": "checkbox",
            "id": "enable_slider",
            "label": "Enable slider",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_rows",
            "label": "Show 2 rows"
        },
        {
            "type": "checkbox",
            "id": "show_pagination",
            "label": "Show pagination",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_navigation",
            "label": "Show navigation",
            "default": false
        },
        {
            "type": "text",
            "id": "custom_class",
            "label": "Custom classes"
        }
    ],
    "blocks":[
        {
            "type":"tab",
            "name":"Tab",
            "settings":[
                {
                    "type":"text",
                    "label":"Tab name",
                    "id":"title",
                    "info":"Leave it blank to use collection name"
                },
                {
                    "type":"collection",
                    "label":"Collection",
                    "id":"collection"
                }
            ]
        }
    ],
    "presets":[
        {
            "name":"Product tabs",
            "category":{
                "de":"Produkte",
                "en":"Product",
                "es":"Producto",
                "fr":"Produit",
                "it":"Prodotto",
                "ja":"商品",
                "nl":"Product",
                "pt-BR":"Produto",
                "zh-CN":"产品",
                "zh-TW":"產品"
            },
            "settings":{
                "heading": "Product tabs"
            },
            "blocks":[
                {
                    "type":"tab",
                    "settings":{
                        "title":"Tab 1"
                    }
                },
                {
                    "type":"tab",
                    "settings":{
                        "title":"Tab 2"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
