{% comment %}
  Custom CSS here
  All custom CSS in this file will be kept when updating the theme
{% endcomment %}

@mixin desktop {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 749px) {
    @content;
  }
}

@font-face {
  font-family: Alternate;
  src: url('Alternate-Gothic-No2-D-Regular.ttf') format('truetype');
  display: swap;
}

@font-face {
  font-family: Marydale;
  src: url('Marydale.ttf') format('truetype');
  display: swap;
}

$ff-heading: Alternate;
$ff-body: Assistant;

.ff-heading, .ff-heading * {
  font-family:  $ff-heading!important;
}

body * {
  font-family: $ff-body;
}

.d-flex {
  display: flex;
}

$color-active: #f37566;
$color-blue: #474a9f;
$color-grey: #7f7f7f;
$color-black: #000;
$color-light-grey: #f7f7f7;
$color-white: #FFF;

@include desktop {
  .hide--desktop {
    display: none !important;
  }
}

@include mobile {
  .hide--mobile {
    display: none !important;
  }
}

.text-blue {
  color: $color-blue;
}
.text-active {
  color: $color-active;
}

.sf__btn {
  box-shadow: none !important;
}

.btn-active {
  background: $color-active !important;
  border: none;
  color: $color-white;
  outline: none;
  &:hover {
    background: $color-blue !important;
  }
}

.btn-rounded {
  border-radius: 50px;
}

.btn-outline {
  transition: all .3s;
  &.btn-blue {
    border: 2px solid $color-blue;
    &:hover {
      border-color: $color-active;
    }
  }
  &.btn-active {
    background: transparent !important;
    border: 2px solid $color-active;
    &:hover {
      border-color: $color-blue;
    }
  }
}

.section__heading {
  @include mobile {
    line-height: 1 !important;
  }
}

/* -------------------- Header ------------------------ */
#qab_container {
  display: none !important;
}

header.sf-header__desktop {
  .container-fluid.sf__header-main-menu {
    background: $color-light-grey;
    min-width: 100%;
    max-width: 100%;
    z-index: 0;
    .sf-menu-item>a {
      color: #707070;
      display: flex;
      align-items: center;
      font-family: Alternate;
      font-size: 34px;
      height: 80px;
    }
  }
  a.back_to_mexicue {
    border: 2px solid $color-blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 32px;
    height: 50px;
    line-height: 1;
    padding: 0 15px;
    svg {
      margin-right: 10px;
    }
  }
  .sf-options-wrapper__desktop {
    svg {
      width: 34px;
      height: auto;
    }
  }
  .sf__header-main-top {
    .sf-menu-logo-bar {
      height: 90px;
    }
  }
}

header.sf-header__mobile {
  @include mobile {
    svg {
      fill: $color-blue;
    }
  }
  .sf-header__mobile-right {
    @include mobile {
      .sf__tooltip-item {
        svg {
          max-width: 20px;
          height: auto;
        }
      }
    }
  }
}
#shopify-section-mobile-sticky-bar {
  @include mobile {
    display: none !important;
    svg {
      max-width: 20px;
      height: auto;
    }
  }
}

/* ----------------- Image with text full ----------------- */

.shopify-section.image-with-text-full {
  .section_container {
    position: relative;
  }
  .main_wrapper.reverse {
    flex-direction: row-reverse;
  }
  .main_wrapper {
    @include mobile {
      flex-direction: column !important;
    }
  }
  .image_wrapper {
    min-width: 50%;
  }
  .text_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-width: 680px;
    padding-left: 65px;
    padding-right: 65px;
    @include mobile {
      text-align: center;
      width: 100%;
      padding: 30px 15px;
    }
    h2 {
      font-size: 55px;
      @include mobile {
        font-size: 44px !important;
      }
    }
    .text {
      color: #474a9f;
      font-size: 22px;
      letter-spacing: 1.5px;
      margin-top: 20px;
      @include mobile {
        font-size: 18px;
      }
    }
    .btn_wrapper {
      margin-top: 30px;
    }
    .btn_wrapper a {
      border: 2px solid $color-grey;
      color: $color-active;
      display: inline-flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      height: 55px;
      line-height: 1;
      padding: 0 35px;
      @include mobile {
        font-size: 22px;
        height: 45px;
      }
      &:hover {
        color: $color-blue;
      }
    }
  }
}

/* ------------------ Imave Overlay ------------------- */

.shopify-section.image-banner-overlay {
  h3.ff-heading {
    font-size: 70px;
    @include mobile {
      font-size: 55px;
      line-height: 1 !important;
      padding-left: 30px;
      padding-right: 30px;
    }
    strong {
      color: $color-active;
      font-weight: normal;
    }
  }
  .sf-hero__text {
    font-size: 30px;
    letter-spacing: 2px;
    max-width: 540px;
    @include mobile {
      font-size: 24px;
    }
  }
  .sf__btn {
    border-radius: 12px;
    font-size: 30px;
    margin-top: 15px;
    padding: 20px 35px;
  }
}


/* ------------------- Image Grid ------------------- */

.shopify-section.custom-image-grid {
  .grid_wrapper {
    justify-content: space-between;
    @include mobile {
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
    }
  }
  .grid_wrapper.grid-4 .grid-item {
    padding-left: 10px;
    padding-right: 10px;
    @include mobile {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  h2.section__heading {
    font-size: 64px !important;
    margin-bottom: 25px;
    @include mobile {
      font-size: 44px !important;
    }
  }
  .grid-item {
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    @include mobile {
      margin-top: 5px;
      margin-bottom: 10px;
      min-width: 50%;
      max-width: 50%;
    }
    .image_wrapper {
      border-radius: 34px;
      overflow: hidden;
      position: relative;
      @include mobile {
        border-radius: 10px;
      }
    }
    .image_wrapper::after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    .content_wrapper {
      max-width: 340px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 65%;
    }
    .item_pretitle {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    .item_title {
      font-size: 38px;
      line-height: 1;
      @include mobile {
        font-size: 22px;
      }
    }
    .item_text {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 1px;
      margin-top: 15px;
      @include mobile {
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0px;
        margin-top: 10px;
      }
      strong {
        font-size: 22px;
        letter-spacing: 3px;
        @include mobile {
          font-weight: normal;
          font-size: 18px;
        }
      }
    }
  }
  .grid_wrapper.grid-2 .grid-item {
    @include mobile {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

/*---------------------- Product tabs ----------------------*/ 
body.template-index .shopify-section.product-tabs {
  .sf__pcard-content {
    .sf__pcard-name {
      font-size: 22px;
      margin-bottom: 0px;
    }
    .prod__price {
      color: $color-blue;
      font-size: 22px;
    }
  }
}
.shopify-section.product-tabs {
  .swiper-container-pointer-events {
    padding-left: 45px;
    padding-right: 45px;
  }
  .swiper-wrapper {
    // padding-left: 45px;
    // padding-right: 45px;
   
  }
  .swiper-slide.sf-column {
    .background-color-expand {
      display: none;
    }
  }
  .swiper-slide.sf-column {
    @include desktop {
      display: grid;
      grid-template-columns: repeat(4,calc(25% - 11px));
      grid-gap: 15px 15px;
      justify-content: space-between;
    }
  }
  .hide--arrow {
    .swiper-button {
      display: none !important;
    }
  }
  .product-tabs__header {
    a.sf-tab-header {
      border: 2px solid $color-grey;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      height: 50px;
      margin-left: 8px;
      margin-right: 8px;
      min-width: 170px;
      &:hover {
        color: $color-active;
      }
      @include mobile {
        font-size: 22px;
        height: 45px;
        min-width: calc(100% / 3 - 10px);
        max-width: calc(100% / 3 - 10px);
        margin-left: 5px;
        margin-right: 5px;
      }
      &.active {
        color: $color-active;
      }
      &::after {
        display: none;
      }
    }
  }
  .swiper-button {
    cursor: pointer;
    margin-top: -33px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    svg {
      stroke: #707070;
      stroke-width: 5px;
      width: 40px;
      height: auto;
      @include mobile {
        width: 24px;
      }
    }
    &.swiper-button-prev {
      left: 0px;
      @include mobile {
        left: 20px;
      }
    }
    &.swiper-button-next {
      right: 0px;
      @include mobile {
        right: 20px;
      }
    }
    &.swiper-button-disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }
  .product-tabs__wrapper.hide-info {
    .sf__pcard-content {
      display: none;
    }
  }

  .spc__main-img, .spc__hover-img {
    border-radius: 34px !important;
    overflow: hidden !important;
    transform: unset !important;
    @include mobile {
      border-radius: 10px !important;
    }
  }
  .title-price-wrapper {
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    * {
      color: $color-blue;
      margin: 0px;
    }
  }
  .sf__pcard-vendor.block {
    color: $color-blue;
    font-size: 20px;
    margin-top: -5px;
    text-transform: unset;
  }
  .sf__pcard-action.sticky {
    width: fit-content;
    left: auto;
    right: 10px;
    bottom: unset;
    top: 10px;
    opacity: 1;
    transform: unset;
    .sf__btn-icon {
      background: transparent;
      margin-right: unset;
      svg {
        fill: $color-active;
        width: 30px !important;
        height: auto !important;
      }
    }
    .sf__tooltip-content {
      display: none !important;
    }
  }
  .swiper-slide {
    padding-bottom: 0px;
  }
  .sf-image {
    height: 0px;
    padding-bottom: 100%;
  }
}


/* ---------------------- Our Story -------------------------- */
.shopify-section.custom-our-story {
  .main_wrapper {
    align-items: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  .main_wrapper .content {
    margin-right: 60px;
    @include mobile {
      margin-right: 0px;
    }
  }
  .image_wrapper {
    width: 240px;
    @include mobile {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .section__heading {
    color: $color-active;
    font-size: 64px !important;
    @include mobile {
      font-size: 44px !important;
      margin-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .description {
    color: $color-blue;
    font-size: 22px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    @include mobile {
      font-size: 18px;
    }
  }
  .btn_wrapper {
    margin-top: 20px;
  }
  a {
    color: $color-blue;
    font-size: 26px;
    padding: 10px 35px;
    &:hover {
      color: $color-active;
    }
  }
  .author {
    color: $color-blue;
    font-family: Marydale;
    font-size: 28px;
    margin-top: 5px;
  }
}


/*------------------------ Newsletter ------------------------- */
.shopify-section.section-newsletter {
  .section-py {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h3 {
    font-size: 64px;
    @include mobile {
      font-size: 44px;
    }
    em {
      font-style: normal;
      text-decoration: line-through;
    }
    strong {
      color: $color-active !important;
      font-weight: normal;
    }
  }
  .description {
    font-size: 22px;
    letter-spacing: 2px;
    max-width: 440px;
    @include mobile {
      font-size: 18px;
    }
  }

  .sf__newsletter-form-group {
    border: 1px solid $color-white;
    border-radius: 50px;
    height: 50px;
    max-width: 400px;
    position: relative;
    &:focus-within {
      border-color: $color-white !important;
    }
    input, button {
      border: none;
      outline: none;
    }
    input {
      font-size: 22px;
      letter-spacing: 1px;
      padding-left: 20px;
      padding-right: 155px;
      @include mobile {
        font-size: 18px;
      }
    }
    button {
      font-size: 30px;
      letter-spacing: 1px;
      padding: 0 15px;
      position: absolute;
      right: 5px;
      @include mobile {
        font-size: 22px;
      }
      &::after {
        content: '';
        background: $color-white;
        left: 0px;
        width: 3px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
  }
}


// -------------------------------------------- Product Page -------------------------------------------------------------

/* ---------------------------------- Product Main ----------------------------------- */

.product-template {
  .sf-prod__block {
    @include mobile {
      flex-direction: column;
    }
    .image-wrapper {
      min-width: 40%;
      max-width: 40%;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
    }
    .info-wrapper {
      min-width: 60%;
      max-width: 60%;
      @include mobile {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
  .main-product__block-grid-wrapper {
    justify-content: space-between;
    & > .main-product__block-grid-column:nth-child(2) {
      min-width: max-content;
    }
    @include mobile {
      flex-direction: column;
    }
    shopify-payment-terms {
      display: none;
    }
    .main-product__block {
      margin-top: 0px;
    }
    .quantity-input {
      background: transparent;
      width: fit-content;
      input {
        background: transparent;
      }
    }
    li:first-child {
      margin-top: 0px;
    }
    .main-product__block.main-product__block-title {
      h1 {
        color: $color-blue !important;
        font-size: 40px;
      }
    }
    .main-product__block.main-product__block-meta {
      margin-top: 5px;
      .prod-vendor {
        font-size: 24px;
      }
    }
    .main-product__block.main-product__block-price {
      .prod__reviews-and-prices {
        justify-content: flex-end;
        @include mobile {
          justify-content: flex-start;
          margin-top: 10px;
        }
        span {
          font-size: 34px;
          @include mobile {
            font-size: 28px;
          }
        }
        .text-color-regular-price {
          color: $color-blue;
        }
      }
    }
    .product-form__actions {
      @include mobile {
        & > .flex-wrap.items-end {
          align-items: center;
        }
        .form__input-wrapper {
          flex: 1 0;
          margin-bottom: 0px;
          margin-right: 15px;
        }
        .form__input-wrapper label {
          display: none;
        }
      }
    }
    .main-product__block.main-product__block-buy_buttons {
      margin-top: 15px;
      svg {
        fill: $color-blue;
        width: 14px;
        height: auto;
      }
      input {
        color: $color-blue;
        font-size: 26px;
        @include mobile {
          flex: unset !important;
          min-width: 60px;
        }
      }
      button[type='submit'] {
        border-radius: 50px;
        font-size: 24px;
        height: 55px;
        text-transform: uppercase;
      }
    }
  }

  .th_pb_title {
    display: none;
  }
  .th_pb_list_content {
    border: none !important;
  }
  ul.th_pb_list_ul li {
    margin-bottom: 10px !important;
  }
  ul.th_pb_list_ul li:after {
    background: transparent !important;
    border: 2px solid $color-active !important;
    color: $color-active !important;
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
  }
  .th_product_img > a {
    border-radius: 34px;
    overflow: hidden;
  }
  .th_pb_list_pro_detail.th_pb_wf {
    display: flex;
    align-items: center;
    justify-content: center;
    .th_pb_bd_qty, .th_pb_variants_section {
      display: none;
    }
    .th_pb_pro_title {
      margin: 0px;
      margin-right: 10px;
      padding: 0px;
      width: fit-content;
      a {
        color: $color-blue !important;
        font-family: $ff-heading;
        font-size: 20px !important;
      }
    }
    .th_pb_list_price {
      line-height: 1;
      width: fit-content;
      span {
        color: $color-blue;
        font-family: $ff-heading;
        font-size: 20px !important;
        font-weight: normal;
      }
    }
  }
  .th_pb_addtocart_section.th_pb_wf {
    padding-top: 0px;
    .th_pb_total_price, span.money {
      color: $color-blue;
      font-size: 22px !important;
    }
    .th_pb_total_save_label {
      color: $color-active;
      span.money {
        color: $color-active;
      }
    }
  }
  .bundle-wrapper {
    .th_pb_add_to_cart {
      background: transparent !important;
      border: 2px solid $color-grey;
      border-radius: 50px;
      width: fit-content !important;
      padding-left: 45px;
      padding-right: 45px;  
      span {
        color: $color-active;
        font-family: $ff-heading;
        font-size: 26px;
        text-transform: uppercase;
        transition: all .3s;
      }
      &:hover span {
        color: $color-blue;
      }
    }
  }
  
  @include desktop {
    .sf-media-nav {
      .swiper-wrapper {
        justify-content: center;
      }
      .swiper-slide {
        width: fit-content !important
      }
    }
    .slider-dot {
      background: #dedede;
      border-radius: 50px;
      display: block;
      width: 20px;
      height: 20px;
    }
    .swiper-slide-thumb-active .slider-dot {
      background: #9a9a9a;
    }

  }
}

.sf-product__section-tabs {
  .sf-tab-header {
    color: $color-blue !important;
    font-size: 34px;
  }
  .sf__accordion-content-wrapper {
    margin-top: 25px;
  }
  .sf__accordion-button {
    @include mobile {
      color: $color-blue;
      font-size: 24px;
    }
  }
  .sf__accordion-content {
    * {
      color: $color-blue;
      font-size: 24px;
      @include mobile {
        font-size: 18px;
      }
    }
  }
}

// ---------------------------------------------------- Collection Page --------------------------------------------------------

body.template-collection {
  .product-tabs__content {
    .sf__ms {
      margin: 0px;
      padding: 0px;
    }
    .sf__ms-wrapper {
      @include mobile {
        display: flex;
        flex-wrap: wrap;
      }
      .sf-column {
        @include mobile {
          min-width: 50%;
          max-width: 50%;
        }
      }
    }
    .title-price-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 10px;
      a {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 5px;
      }
      .sf__pcard-price {
        font-size: 22px;
      }
    }
  }
}

// ----------------------------------------------------- Minicart ---------------------------------------------------------

.minicart-wrapper {
  .scd__header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  button.scd__close {
    top: 10px;
    svg {
      fill: $color-grey;
    }
  }
  h3 {
    color: $color-grey;
    font-size: 28px;
    text-transform: uppercase;
  }
  .header-total {
    background: $color-active;
    color: $color-white;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    .sf-cart-count {
      background: unset;
      border-radius: unset;
      display: inline-block !important;
      height: unset;
      font-size: 24px;
      min-height: unset;
      margin: 0px;
      width: unset;
      min-width: unset;
      padding: 0px;
      top: unset;
      right: unset;
      transform: unset;
      position: relative;
    }
  }
  .minicart-item {
    .item-vendor {
      font-size: 18px;
      line-height: 1.3;
    }
  }
  .scd-item__info {
    flex: 1;
  }
  .scd-item__image {
    border-radius: 12px;
    overflow: hidden;
  }
  .item-title-price {
    justify-content: space-between;
    font-size: 24px;
    .scd-item__prices span {
      color: $color-blue;
    }
  }
  .scd-item__quantity {
    background: transparent;
    .scd-item__btn {
      font-size: 30px;
      padding: 0px;
    }
    input {
      font-size: 26px;
    }
  }

  .scd__subtotal {
    font-size: 28px;
    .scd__subtotal-price {
      font-weight: 600;
      margin-left: 5px;
    }
  }

  .scd__footer {
    padding-bottom: 20px;
    button {
      border-radius: 50px;
      font-size: 40px;
      height: 65px;
      margin-bottom: 5px;
      padding: 0 40px;
      width: fit-content;
      text-transform: uppercase;
      text-decoration: underline;
    }
    .scd__summary {
      margin-bottom: 5px;
    }
  }
}


// -------------------------------------- Site Footer ----------------------------------------

footer {
  .main-content {
    padding-top: 30px;
    padding-bottom: 20px;
    @include mobile {
      padding-bottom: 30px;
    }
  }
  .footer-main {
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
    .footer-block {
      flex: 1;
    }
    .footer-block.block-logo {
      @include mobile {
        width: 100%;
      }
      .image_wrapper {
        max-width: 120px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .footer-block.block-social {
      @include mobile {
        margin-top: 30px;
        order: 1;
      }
      a {
        margin-right: 25px;
        padding-left: 0px;
        padding-right: 0px;
        @include mobile {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      svg {
        width: 50px;
        height: auto;
        @include mobile {
          width: 30px;
        }
        path {
          fill: $color-white !important;
        }
      }
    }
  }
  .footer-menu {
    margin-top: 20px;
    @include mobile {
      margin-top: 25px;
    }
    .menu-wrapper {
      justify-content: center;
      flex-wrap: wrap;
      @include mobile {
        justify-content: flex-start;
      }
      li {
        color: $color-white;
        font-size: 34px;
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;
        @include mobile {
          font-size: 24px;
          margin: 5px 0px;
          width: 50%;
          text-align: center;
        }
      }
      li a {
        transition: all .3s;
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}